# Qt Stuff
# ========
*.ui    text eol=lf
*.rc    text eol=lf
*.qrc   text eol=lf

# Source files
# ============
*.pxd    text eol=lf diff=python
*.py     text eol=lf diff=python
*.py3    text eol=lf diff=python
*.pyw    text eol=lf diff=python
*.pyx    text eol=lf diff=python
*.pyz    text eol=lf diff=python

# Binary files
# ============
*.db     binary
*.p      binary
*.pkl    binary
*.pickle binary
*.pyc    binary
*.pyd    binary
*.pyo    binary

# Jupyter notebook
*.ipynb  text

# Note: .db, .p, and .pkl files are associated
# with the python modules ``pickle``, ``dbm.*``,
# ``shelve``, ``marshal``, ``anydbm``, & ``bsddb``
# (among others).

# Images
# ======
*.png   binary
*.jpg   binary
*.svg   text eol=lf
