[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
"flake8" = "*"
pyinstaller = "*"
pylint = "*"
"flake8-bugbear" = "*"
"flake8-comprehensions" = "*"

[packages]
pyxdg = "*"
"pyqt5" = ">=5.13"

[requires]
python_version = "3.7"
