[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
"flake8" = "*"
pyinstaller = "~=5.4"
pylint = "*"
"flake8-bugbear" = "*"
"flake8-comprehensions" = "*"
pytest = "~=7.1"
black = "==24.3.0"
pydocstyle = "*"
coverage = {extras = ["toml"], version = "*"}
pyqt5-stubs = "*"
pytest-cov = "*"

[packages]
pyqt5 = "==5.15.6"
send2trash = "*"
appdirs = "*"
watchdog = "*"
attrs = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = false
