[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
"flake8" = "*"

[packages]
pyxdg = "*"
pyyaml = "*"
"pyqt5" = ">=5.13"

[requires]
python_version = "3.7"
