MainWindow{
    min-width: 600px;
    min-height: 480px;
    max-width: 800px;
}

QWidget {
    background-color: #19191A;
    color: #DBDCDC;
}

QWidget#topBar QLabel {
    padding: 5px;
    background-color: #1E1E20;
}

QWidget#topBar QPushButton#plusButton, QWidget#topBar QPushButton#minusButton {
    padding: 0;
}

#MyList QListWidget {
    margin-top: 5px;
    background-color: #1E1E20;
    selection-background-color: rgba(255, 255, 255, 50);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* List elements */
#MyList QListWidget QLabel, #MyList QListWidget QWidget { 
    background-color: rgba(255, 255, 255, 0);
}

#HelpLabel {
    color: #F384FF;
    background-color: rgba(0, 0, 0, 50);
    padding: 5px;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
}

QWidget[cname=extra_info] QLabel {
    font-size: 10px;
    font-style: italic;
    color: #F384FF;
    padding: 0;
    margin: 0;
}

QPushButton{
	background: #3498db;
	color: #ffffff;

    border-radius: 6px;
}

QPushButton {
    padding: 10px 20px 10px 20px;
    background: #3B3B3B;
}

QPushButton:hover {
  background: #444444;
}

QPushButton#settings {
    background: #383399;
}

QPushButton#settings:hover {
    background: #4640BF;
}

QLineEdit {
    background-color: rgba(255, 255, 255, 25);
}