name: Code QA
on:
  push:
    branches-ignore:
      - 'dependabot/**'
      - 'debug'
      - 'debug/**'
      - 'ci/**'
    paths-ignore:
      - '.github/**'

jobs:
  CodeCov:
    if: "!contains(github.event.head_commit.message, '[ci skip]')"
    runs-on: ${{ matrix.os }}
    permissions:
      contents: read
      id-token: write
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        python-version: ["3.12"]
    env:
      OS: ${{ matrix.os }}
      PYTHON: "3.12"
      QMM_CI: true
    steps:
      - uses: actions/checkout@v5
        with:
          path: qMM
      - uses: actions/checkout@v5
        with:
          repository: innoxia/liliths-throne-public
          path: lilith
          ref: dev
      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'pip'
      - name: Install Dependencies (linux)
        if: startsWith(matrix.os, 'ubuntu')
        working-directory: ${{ github.workspace }}/qMM
        run: |
          sudo apt-get update --fix-missing
          sudo apt-get install --fix-missing --no-install-recommends libegl1 \
            libxkbcommon-x11-0 \
            libxcb-randr0-dev \
            libxcb-xtest0-dev \
            libxcb-xinerama0-dev \
            libxcb-shape0-dev \
            libxcb-xkb-dev \
            libxcb-icccm4 \
            libxcb-image0 \
            libxcb-keysyms1 \
            libxcb-render-util0 \
            qtbase5-dev
          python -m pip install --upgrade pip wheel setuptools
          python -m pip install coverage[toml] pytest pytest-cov
          python -m pip install -r requirements.txt
          make ui
      - name: Install Dependencies (windows)
        if: startsWith(matrix.os, 'windows')
        working-directory: ${{ github.workspace }}/qMM
        shell: bash -l {0}
        run: |
          python -m pip install --upgrade pip wheel setuptools
          python -m pip install coverage[toml] pytest pytest-cov
          python -m pip install -r requirements.txt
          make ui
      - name: Create test environment
        shell: bash -l {0}
        working-directory: ${{ github.workspace }}/qMM
        run: bash -l .github/scripts/create_testenv.sh -q=${{ github.workspace }}/qMM -l=${{ github.workspace }}/lilith -r=${{ github.workspace }}/repo
      - name: Generate coverage report (linux)
        if: startsWith(matrix.os, 'ubuntu')
        working-directory: ${{ github.workspace }}/qMM
        run: |
          xvfb-run --auto-servernum pytest --cov=qmm
          coverage xml
          ls -al
          ls -al ..
      - name: Generate coverage report (windows)
        if: startsWith(matrix.os, 'windows')
        working-directory: ${{ github.workspace }}\qMM
        shell: bash -l {0}
        run: |
          pytest --cov=qmm
          coverage xml
          ls -al
          ls -al ..
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5.5.2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          root_dir: ${{ github.workspace }}/qMM
          env_vars: OS,PYTHON
          fail_ci_if_error: true
